---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---
<!-- Victoria IT -->
<Layout title="Victoria IT">
	<main class="space-y-20 mb-20 py-20">
		<Hero/>
	</main>
</Layout>