---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---
<!-- Victoria IT -->
<Layout title="Victoria IT - Website Under Maintenance">
  <main class="flex-1 flex flex-col justify-center items-center min-h-[calc(100vh-80px)] py-2">
    <Hero/>
  </main>
</Layout>