---
import Container from "./Container.astro"
---

<div class="mt-1">
<nav class="w-full top-0 left-0 z-50 fixed bg-white">
  <Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-1">
    <div>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="/Logo.png" class="h-12" alt="Victoria IT" />
        </a>
      </div>
    </div>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <a href="tel:1800 687 806" target="_blank" class="px-6 py-3 bg-zinc-900 hover:bg-white rounded-2xl text-center text-white hover:text-black border text-base font-normal leading-6">
          Call 1800 687 806
        </a>
      </div>
    </div>
  </header>
</Container>
</nav>
</div>