---
import Container from "./Container.astro"
import { Astronav, MenuIcon } from "astro-navbar";
const navButton = { href: 'tel:1800 687 806', label: 'Call us now' };
---

<div class="mt-20">
<nav class="w-full top-0 left-0 z-50 fixed bg-white">
  <Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="/Logo.png" class="h-8" alt="Victoria IT" />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-8 h-8 text-black" />
        </div>
      </div>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <a class="px-9 py-5 rounded-2xl border border-zinc-900 bg-white hover:bg-black text-black hover:text-white inline-flex" href={navButton.href} target="_blank"><h2 class="text-center text-xl font-normal leading-7">{navButton.label}</h2>
        </a>
      </div>
    </div>
  </header>
</Container>
</nav>
</div>