---
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
const canonicalUrl = new URL(`${Astro.url.pathname}${Astro.url.search}`, 'https://maintenance.victoriait.com').toString();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Victoria IT is currently down for maintenance to serve you better. Please check back soon for improved services and enhanced features. Thank you for your patience." />
    <meta name="keywords" content="Victoria IT, maintenance, website down, coming soon" />
    <meta name="author" content="Victoria IT" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="canonical" href={canonicalUrl} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script>
      // Set robots meta tag based on domain
      var meta = document.createElement('meta');
      meta.name = 'robots';
      if (window.location.hostname.includes('pages.dev')) {
        meta.content = 'noindex, nofollow';
      } else {
        meta.content = 'index, follow';
      }
      document.head.appendChild(meta);
    </script>
  </head>
  <body class="bg-white font-SpaceGrotesk min-h-screen flex flex-col">
    <Navbar />
    <div class="flex-1 flex flex-col">
      <slot />
    </div>
    <Footer/>
  </body>
</html>
